@import 'libs/reset';
@import 'base/fonts';
@import 'base/variables';
@import 'base/mixins';
@import 'base/utilities';
@import 'base/animations';
@import 'blocks/titles';
@import 'blocks/section';
@import 'blocks/buttons';
@import 'blocks/menu';
@import 'blocks/list';
@import 'blocks/form';
@import 'blocks/social-networks';

* {
    box-sizing: border-box;
}


img {
    max-width: 100%;
    width: 100%;
}

body {
    font-family: 'ProductSans', Arial, Helvetica, sans-serif;
    background-color: $light-grey2;
}

.container {
    max-width: 1460px;
    margin: 0 10px;

    @include respond-to('small') {
        margin: 0 20px;
    }
    
    @include respond-to('medium') {
        margin: 0 30px;
    }

    @include respond-to('large') {
        margin: 0 40px;
    }

    @include respond-to('x-large') {
        margin: 0 auto;
    }
}


