.br {
    &-lg {
        background-color: $white;
        border-radius: 30px;
        box-shadow: 50px 50px 99px 0 rgba(34, 34, 34, 0.06);
        padding: 25px;
        position: relative;

        @include respond-to(small) {
            padding: 50px;
        }

        @include respond-to(medium) {
            padding: 50px 76px;
        }
    }

    &-xs {
        background-color: $white;
        border-radius: 26px;
        box-shadow: 10px 10px 99px 0 rgba(211, 211, 211, 0.16);
        padding: 10px;

        @include respond-to(small) {
            padding: 20px;
        }

        @include respond-to(medium) {
            padding: 35px;
        }

        @include respond-to(large) {
            padding: 50px;
        }
    }

    &-black {
        background-color: $black;
    }
}