@import '../../assets/scss/base/_variables.scss';
@import '../../assets/scss/base/_mixins.scss';

.advantages {
    position: relative;

    &:before {
        content: '';
        background-color: $white;
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: -1;
    }

    &__title {
        @include respond-to(large) {
            margin-bottom: 73px;
        }
    }

    &__description {
        padding-bottom: 15px;
        border-bottom: 1px solid $grey;
        margin-bottom: $mb-mobile;

        @include respond-to(small) {
            display: flex;
        }
    }

    &__subtitle {
        margin-bottom: $mb-mobile;

        @include respond-to(small) {
            margin-bottom: $mb-tablet;
        }

        @include respond-to(medium) {
            margin-bottom: $mb-desktop;
        }
    }

    &__subtext {
        text-align: center;
        opacity: 0.49;
        font-size: 12px;
        line-height: 1.33;
        color: #000000;
    }

    &__list {

        @include respond-to(small) {
            width: 60%;
        }
    }

    &__card {
        display: inline-block;
        text-align: center;
        color: $white;

        @include respond-to(small) {
            width: 40%;
            align-self: flex-start;
        }
        
        .price {
            span {
                display: block;
                font-weight: 700;
                margin-bottom: $mb-mobile;

                @include respond-to(large) {
                    margin-bottom: $mb-tablet;
                }
            }

            &__old {
                text-decoration: line-through;
                font-size: $font-sm;

                @include respond-to(medium) {
                    font-size: 20px;
                }

                @include respond-to(large) {
                    font-size: 25px;
                }
            }

            &__new {
                font-size: 16px;

                @include respond-to(medium) {
                    font-size: 30px;
                }

                @include respond-to(large) {
                    font-size: 34px;
                }
            }
        }
    }

    &__paragraph {
        font-size: 12px;
        margin-bottom: $mb-mobile;

        @include respond-to(medium) {
            margin-bottom: $mb-tablet;
            font-size: 13px;
        }

        @include respond-to(large) {
            margin-bottom: $mb-desktop;
            font-size: 16px;
        }
    }
}