.btn {
    background-color: transparent;
    border: 0;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 0;
    line-height: 1;

    &__main {
        @include button-size(10px, 0, 18px, 16px, 200px);
        @include button-variant($white, $orange, transparent, 700);

        @include respond-to(medium) {
            width: 300px;
            padding: 20px 0;
            font-size: 24px;
        }

        @include respond-to(large) {
            width: 390px;
        }
        
        &_xs {
            @include button-size(8px, 0, 14px, 10px, 120px);

            @include respond-to(medium) {
                width: 196px;
                padding: 13px 0;
            }
        }

        &_md {
            @include button-size(9px, 0, 16px, 14px, 170px);

            @include respond-to(medium) {
                width: 266px;
                padding: 15px 0;
                font-size: 24px;
            }
        }
    }

    &__secondary {
        @include button-size(10px, 15px, 16px, 30px, 150px);
        @include button-variant($white, rgba($white, .1), transparent, 400);

        @include respond-to(large) {
            font-size: 19px;
            padding: 13px 0;
        }
    }

    &__arrow {
        @include button-size(15px, 20px, 0, 16px, auto);
        @include button-variant($white, $white, $black, 400);
        border: 2px solid $black;
    }

    &__icon {
        width: 10px;
        height: 19px;
        stroke: $black;
    }
}