.schedule {
    padding-top: 30px;

    &__status {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: $mb-mobile;

        @include respond-to(small) {
            margin-bottom: $mb-tablet;
        }

        @include respond-to(medium) {
            margin-bottom: $mb-desktop;
        }

        @include respond-to(large) {
            margin-bottom: 82px;
        }
    }

    &__title {
        @include respond-to(large) {
            margin-bottom: 56px;
        }
    }

    &__icon {
        width: 40%;
        padding: 0 5px;
        height: 22px;
    }

    &__subtitle {
        font-weight: 700;
        font-size: $font-sm;

        @include respond-to(small) {
            font-size: 16px;
        }

        @include respond-to(medium) {
            font-size: 20px;
        }

        @include respond-to(large) {
            font-size: 29px;
        }
    
    }

    &__dates {
        display: flex;
        justify-content: space-between;
        margin-bottom: $mb-mobile;
        font-weight: 700;

        @include respond-to(small) {
            margin-bottom: $mb-tablet;
        }

        @include respond-to(medium) {
            margin-bottom: $mb-desktop;
        }

        @include respond-to(large) {
            margin-bottom: 100px;
        }
    }

    &__date {
        width: 44%;
        text-align: center;
        font-weight: 700;

        @include respond-to(small) {
            word-spacing: 14px;
            font-size: 22px;
        }

        @include respond-to(medium) {
            font-size: 35px;
        }

        @include respond-to(large) {
            wfont-size: 45px;
        }
    }

    &__register {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond-to(small) {
            flex-direction: row;
            justify-content: center;
        }
    }

    &__days-left {
        font-weight: 700;
        margin-bottom: $mb-mobile;
        

        @include respond-to(small) {
            margin-bottom: 0;
            margin-right: 15px;
        }

        @include respond-to(medium) {
            font-size: 33px;
            margin-right: 35px;
        }
    }

    &__value {
        color: $white;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        text-align: center;
        background-color: $black;
        margin-bottom: $mb-mobile;
        border-radius: 8px;
        font-weight: 700;

        @include respond-to(small) {
            margin-right: 15px;
            margin-bottom: 0;
        }

        @include respond-to(medium) {
            margin-right: 35px;
            width: 63px;
            height: 63px;
            font-size: 33px;
            border-radius: 16px;
        }
    }
}