.section {
    padding-bottom: 30px;

    @include respond-to(small) {
        padding-bottom: 50px;
    }

    @include respond-to(medium) {
        padding-bottom: 70px;
    }

    @include respond-to(large) {
        padding-bottom: 120px;
    }
    
    &__title {
        position: relative;
        font-size: 20px;
        font-weight: 700;
        color: $black;
        width: 100%;
        padding: 30px 0 20px 0;
        text-align: center;
        margin-bottom: $mb-mobile;

        @include respond-to(small) {
            font-size: 25px;
            padding-bottom: 30px;
            margin-bottom: $mb-tablet;
        }

        @include respond-to(medium) {
            font-size: 28px;
            padding: 45px 0 35px 0;
            margin-bottom: $mb-desktop;
        }

        @include respond-to(large) {
            font-size: 34px;
            padding: 73px 0 41px 0;
        }

        &_hero {
            -webkit-text-stroke: 1px $black;
            font-size: 22px;
            text-align: left;

            @include respond-to(small) {
                font-size: 27px;
                padding-bottom: 40px;
            }
            
            @include respond-to(medium) {
                font-size: 35px;
                padding-bottom: 50px;

                .section__back-title {
                    bottom: -10%;
                }
            }
    
            @include respond-to(large) {
                font-size: 45px;
            }

            @include respond-to(x-large) {
                font-size: 50px;
                padding-bottom: 60px;
            }
        }
    }

    &__subtitle {
        color: $dark-grey;
        font-size: 20px;
        -webkit-text-stroke: 0;

        @include respond-to(small) {
            font-size: 23px;
        }

        @include respond-to(medium) {
            font-size: 28px;
            margin-top: 14px;
        }

        @include respond-to(large) {
            font-size: 32px;
        }

        @include respond-to(x-large) {
            font-size: 38px;
        }
    }

    &__paragraph {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        color: $black;
        margin-bottom: $mb-mobile;

        @include respond-to(small) {
            margin-bottom: $mb-tablet;
        }

        @include respond-to(medium) {
            font-size: 18px;
            line-height: 2.4;
        }

        @include respond-to(large) {
            font-size: 20px;
        }

        &_big {
            font-size: 17px;
            line-height: 1.8;

            @include respond-to(small) {
                font-size: 18px;
            }
    
            @include respond-to(large) {
                font-size: 23px;
                line-height: 2.4;
            }
        }
    }

    &__back-title {
        color: $black;
        opacity: 0.05;
        -webkit-text-stroke: 6px $black;
        font-size: 340%;
        color: $black;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        bottom: 0;

        &_small {
            font-size: 240%;
            bottom: 10%;

            @include respond-to(small) {
                font-size: 300%;
            }

            @include respond-to(medium) {
                font-size: 340%;
                bottom: 5%;
            }
        }
    }
}