h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.57;
    color: $black;

    @include respond-to(medium) {
        font-size: 18px;
    }

    @include respond-to(medium) {
        font-size: 21px;
    }
}

h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.35;
    color: $black;

    @include respond-to(small) {
        font-size: 20px;
    }

    @include respond-to(medium) {
        font-size: 26px;
    }
}

h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
    color: $black;

    @include respond-to(small) {
        font-size: 18px;
    }

    @include respond-to(large) {
        font-size: 20px;
    }
}
