@import '../../assets/scss/base/_variables.scss';
@import '../../assets/scss/base/_mixins.scss';

.header {
    background-color: $black;
    padding: 25px 0;

    &__wrapper {
        display: flex;
        align-items: center;

        @include respond-to(medium) {
            justify-content: space-between;
        }
    }

    &__menu {
        order: 3;

        @include respond-to(medium) {
            order: 2;
            width: 100%;
        }
    }

    &__btn {
        order: 2;
        margin-left: auto;
        margin-right: 10px;

        @include respond-to(medium) {
            order: 3;
            margin: 0 0 0 5%;
        }
    }
}

.logo {
    max-width: 100px;
    order: 1;

    &__icon {
        fill: $black;
        width: 100%;
        height: 70px;

        &_white {
            fill: $white;
        }
    }

    @include respond-to(medium) {
        max-width: 165px;
    }
}
