@import '../../assets/scss/base/_variables.scss';
@import '../../assets/scss/base/_mixins.scss';

.slider {
    position: relative;

    &__buttons {
        
        .btn_next, .btn__prev {
            position: absolute;
            bottom: 4%;
            left: 0;
            z-index: 1;
        }

        .btn_next {
            left: auto;
            right: 0;
        }

        .btn__prev {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        @include respond-to(medium) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__descriptions {
        @include respond-to(medium) {
            width: 45%
        }
    }

    &__description {
        @include respond-to(medium) {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__imgs {
        position: relative;
        max-width: 80%;
        margin: 0 auto;

        &:before {
            content: '';
            width: 100%;
            height: 70%;
            border-radius: 30px;
            background-color: $grey-bg;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        @include respond-to(medium) {
            width: 40%
        }
    }

    &__subtitle {
        display: inline-flex;
        align-items: center;
        margin-bottom: $mb-mobile;

        @include respond-to(small) {
            margin-bottom: $mb-tablet;
        }

        @include respond-to(medium) {
            margin-bottom: $mb-desktop;
        }

        &:before {
            content: '';
            display: block;
            width: 16px;//28
            height: 16px;
            background-color: $black;
            border-radius: 100%;
            margin-right: 15px;
        }
    }

    &__paragraph {
        font-size: $font-sm;
        margin-bottom: $mb-mobile;
        line-height: 1.5;

        @include respond-to(small) {
            margin-bottom: $mb-tablet;
            font-size: 16px;
        }

        @include respond-to(medium) {
            margin-bottom: $mb-desktop;
            font-size: 18px;
            line-height: 2;
        }

        @include respond-to(large) {
            font-size: 23px;
            line-height: 2.5;
        }
    }

    &__img {
        padding-top: 50px;
        position: relative;
        z-index: 1;
        
        img {
            display: block;
            width: 54%;
            margin: 0 auto;
            border-radius: 30px;
        }
    }

    &__value {
        display: none;

        @include respond-to(medium) {
            display: inline-block;
            font-size: 34px;
            padding: 12px 57px;
            background-color: $grey-bg;
            border-radius: 16px;
            word-spacing: 5px;
        }
    }
}